.icon,
.nexcentIcon {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.icon {
  width: 43.3px;
  max-height: 100%;
  min-height: 30px;
}
.nexcentIcon {
  height: 25.5px;
  max-width: 100%;
  overflow: hidden;
}
.brandNameContainer,
.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brandNameContainer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
}
.logo {
  width: 191px;
  flex-direction: row;
  gap: var(--gap-3xs-9);
}
.allRightsReserved,
.copyright2020 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.copyright {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.socialIcons,
.socialIcons1,
.socialIcons2,
.socialIcons3 {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
}
.companyInfo,
.socialLinks {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.companyInfo {
  width: 350px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-21xl);
  min-width: 350px;
  max-width: 100%;
}
.company {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
}
.aboutUs,
.blog {
  text-decoration: none;
  color: inherit;
}
.aboutUs,
.blog,
.contactUs {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.pricing {
  text-decoration: none;
  color: inherit;
}
.pricing,
.testimonials {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.col1,
.listItems {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.listItems {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--body-regular-body-3-size);
  color: var(--neutral-silver);
}
.col1 {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 104px;
}
.support {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
}
.helpCenter,
.termsOfService {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.legal,
.privacyPolicy {
  text-decoration: none;
  color: inherit;
}
.legal,
.privacyPolicy,
.status {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.col2,
.linkColumns,
.listItems1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.listItems1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--body-regular-body-3-size);
  color: var(--neutral-silver);
}
.col2,
.linkColumns {
  flex: 1;
}
.col2 {
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 104px;
}
.linkColumns {
  flex-direction: row;
  gap: var(--gap-11xl);
  min-width: 227px;
  max-width: 100%;
}
.stayUpTo {
  margin: 0;
  width: 160px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.inputFieldBg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
}
.yourEmailAddress {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 126px;
  z-index: 1;
}
.essentialIconsSend {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.sendButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.emailInputField {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-xs) var(--padding-2xs);
  position: relative;
  gap: var(--gap-xl);
  font-size: var(--body-regular-body-3-size);
  color: var(--text-gray-300);
}
.col3,
.emailInputField,
.footerBig4,
.links {
  display: flex;
  align-items: flex-start;
}
.col3 {
  width: 255px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footerBig4,
.links {
  flex-direction: row;
  max-width: 100%;
}
.links {
  width: 635px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 635px;
  font-size: var(--heading-headline-4-size);
  color: var(--neutral-white);
}
.footerBig4 {
  align-self: stretch;
  background-color: var(--neutral-black);
  justify-content: space-between;
  padding: var(--padding-45xl) var(--padding-146xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--body-regular-body-3-size);
  color: var(--neutral-silver);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 1400px) {
  .companyInfo,
  .links {
    flex: 1;
  }
  .footerBig4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .links {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .companyInfo {
    min-width: 100%;
  }
  .links {
    flex-wrap: wrap;
  }
  .footerBig4 {
    padding-left: var(--padding-63xl);
    padding-right: var(--padding-63xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .companyInfo {
    gap: var(--gap-xl);
  }
  .company,
  .support {
    font-size: var(--body-medium-body-2-size);
    line-height: 22px;
  }
  .linkColumns {
    flex-wrap: wrap;
  }
  .stayUpTo {
    font-size: var(--body-medium-body-2-size);
    line-height: 22px;
  }
  .footerBig4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
